.site-header {
    padding: 2rem 0;
}

.navigation__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__menu a {
    font-weight: 500;
    font-size: 1.8rem;
}

/* Main */
.site-main {
    padding: 3rem 0;
}

/* Hero */
.hero {
    padding-top: 4rem;
    padding-bottom: 4.8rem;
}

.hero__title {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.hero__image {
    height: 675px;
}

/* Our Vision*/
.our-vision {
    padding: 4.8rem 0;
}

.benefits__item__icon {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Properties*/
.properties {
    padding: 4.8rem 9;
}

.property__image {
    height: 320px;
    border-radius: 2rem;
    overflow: hidden;
}

.property__image img {
    display: block;
}

.property__badge {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.property__options__item {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 1rem;
}

.property__options__item:last-child {
    border-right: none;
}

/* Features */
.features{
    padding: 4.8rem 0;
}
.features__inner{
    padding: 4.8rem;
    background-color: var(--color-lighter);
}

/* Our Mission*/
.our-mission{
    padding: 4.8rem 0;
}
.our-mission__content{
    grid-template-columns: 465px 1fr;
}
.our-mission__image{
    height: 485px;
}
.our-mission__signature{
    width: 118px;   
}